/* Color palette */
:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;
  --vt-c-text: #213547;
  --vt-c-text-light: #60a5fa;
}

/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--vt-c-text);
  background: var(--vt-c-white);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
